[Unit]
Description=wxjqr
Requires=network.target
After=network.target

[Service]
Type=idle
User=root
Group=root
WorkingDirectory=/usr/src/wxjqr
ExecStart=/usr/local/bin/python3 run.py
ExecReload=/usr/src/wxjqr/restart.sh
ExecStop=/usr/src/wxjqr/shutdown.sh
Restart=always
TimeoutStartSec=30s
RestartSec=30s

[Install]
WantedBy=multi-user.target